{%  extends 'base.html.twig' %}

{%  block title 'Agence immobilière' %}
{% block body  %}
    <div class="jumbotron text-center">
        <h1> Agence</h1>
        <p> Bienvenue sur mon agence immobilière</p>
    </div>

{%  endblock %}